//! **************************************************************************
// Written by: Map P.20131013 on Wed Dec 14 09:17:32 2016
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "a<0>" LOCATE = SITE "T12" LEVEL 1;
COMP "a<1>" LOCATE = SITE "V12" LEVEL 1;
COMP "a<2>" LOCATE = SITE "N10" LEVEL 1;
COMP "a<3>" LOCATE = SITE "P11" LEVEL 1;
COMP "b<0>" LOCATE = SITE "N9" LEVEL 1;
COMP "a<4>" LOCATE = SITE "M10" LEVEL 1;
COMP "b<1>" LOCATE = SITE "U11" LEVEL 1;
COMP "b<2>" LOCATE = SITE "V11" LEVEL 1;
COMP "b<3>" LOCATE = SITE "K2" LEVEL 1;
COMP "c<0>" LOCATE = SITE "L4" LEVEL 1;
COMP "b<4>" LOCATE = SITE "K1" LEVEL 1;
COMP "c<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "c<2>" LOCATE = SITE "J3" LEVEL 1;
COMP "c<3>" LOCATE = SITE "J1" LEVEL 1;
COMP "d<0>" LOCATE = SITE "K5" LEVEL 1;
COMP "c<4>" LOCATE = SITE "K3" LEVEL 1;
COMP "d<1>" LOCATE = SITE "H3" LEVEL 1;
COMP "d<2>" LOCATE = SITE "L7" LEVEL 1;
COMP "d<3>" LOCATE = SITE "K6" LEVEL 1;
COMP "e<0>" LOCATE = SITE "G1" LEVEL 1;
COMP "d<4>" LOCATE = SITE "G3" LEVEL 1;
COMP "e<1>" LOCATE = SITE "J7" LEVEL 1;
COMP "e<2>" LOCATE = SITE "J6" LEVEL 1;
COMP "e<3>" LOCATE = SITE "F2" LEVEL 1;
COMP "e<4>" LOCATE = SITE "G11" LEVEL 1;
COMP "h<0>" LOCATE = SITE "F10" LEVEL 1;
COMP "h<1>" LOCATE = SITE "F11" LEVEL 1;
COMP "h<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "h<3>" LOCATE = SITE "D12" LEVEL 1;
COMP "h<4>" LOCATE = SITE "C12" LEVEL 1;
COMP "led" LOCATE = SITE "T11" LEVEL 1;
COMP "led2" LOCATE = SITE "R11" LEVEL 1;
SCHEMATIC END;

